PyQt5
numpy
pandas

Pillow
opencv-python

yara-python
pefile
lief
pyelftools
oletools
PyMuPDF
python-magic
filetype

requests
dnspython
scapy

docker

networkx

cryptography

sqlalchemy
pydantic
fastapi
uvicorn
loguru

# sandboxing
